.field {
    @apply rounded border w-full p-2 bg-transparent;
    @apply text-sm md:text-base;

    &:disabled {
        @apply text-grey-300 border-grey-100 cursor-not-allowed;
    }

    &.error {
        @apply text-red-900 border-red-900;
    }

    &:focus-visible {
        @apply outline-none;
    }
}
