/* Fonts */
$sansFontFamily: 'Inter', sans-serif !default;
$serifFontFamily: 'Helvetica', serif !default;
$displayFontFamily: 'Homemade Apple', cursive !default;

/* System colours */
$error: #e50303 !default;
$warning: #ffd100 !default;
$success: #00e686 !default;
$info: #0067c5 !default;

/* Shades */

/* Grey */
$grey900: #212932 !default;
$grey800: #353f4a !default;
$grey700: #414c58 !default;
$grey600: #55606c !default;
$grey500: #636e7b !default;
$grey400: #7d8793 !default;
$grey300: #9ca5b0 !default;
$grey200: #ccd2d8 !default;
$grey100: #e4e7eb !default;
$grey50: #f8f9fa !default;

$blue50: #ebf9ff !default;
$blue100: #c5ebfe !default;
$blue200: #a0dcfd !default;
$blue300: #7bcdfc !default;
$blue400: #56bfff !default;
$blue500: #3854f8 !default;
$blue600: #2f46d4 !default;
$blue700: #2538b0 !default;
$blue800: #1c2a8c !default;
$blue900: #121e68 !default;
$blue950: #dae8ff !default;

/* Utility colours */
$white: #fff !default;
$black: #000 !default;

/* react-image-gallery var overrides */
$ig-white: rgb(255 255 255 / 60%);
$ig-blue: $white;
