@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    :root {
        --sans-font-family: #{$sansFontFamily};
        --serif-font-family: #{$serifFontFamily};
        --display-font-family: #{$displayFontFamily};

        // System colours
        --error-color: #{$error};
        --warning-color: #{$warning};
        --success-color: #{$success};
        --info-color: #{$info};

        // Shades
        // Grey
        --grey-color-900: #{$grey900};
        --grey-color-800: #{$grey800};
        --grey-color-700: #{$grey700};
        --grey-color-600: #{$grey600};
        --grey-color-500: #{$grey500};
        --grey-color-400: #{$grey400};
        --grey-color-300: #{$grey300};
        --grey-color-200: #{$grey200};
        --grey-color-100: #{$grey100};
        --grey-color-50: #{$grey50};

        // Blue
        --blue-color-50: #{$blue50};
        --blue-color-100: #{$blue100};
        --blue-color-200: #{$blue200};
        --blue-color-300: #{$blue300};
        --blue-color-400: #{$blue400};
        --blue-color-500: #{$blue500};
        --blue-color-600: #{$blue600};
        --blue-color-700: #{$blue700};
        --blue-color-800: #{$blue800};
        --blue-color-900: #{$blue900};
        --blue-color-950: #{$blue950};

        // Utility colours
        --white-color: #{$white};
        --black-color: #{$black};
    }

    html {
        box-sizing: border-box;
        @apply scroll-smooth scroll-pt-10 lg:scroll-pt-0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    body
        > div:not([data-portal], [data-ui='MenuButton__popover'])
        > div:not(#sanity) {
        h1 {
            @apply text-2xl md:text-5xl lg:text-7xl mb-2 md:mb-4 lg:mb-6 font-bold;
        }

        h2 {
            @apply text-xl md:text-2xl lg:text-4xl mb-2 md:mb-3 lg:mb-4 font-bold;
        }

        h3 {
            @apply text-lg md:text-xl lg:text-2xl mb-2 md:mb-3 lg:mb-4 font-bold;
        }

        h4 {
            @apply text-lg lg:text-xl mb-2 md:mb-3 lg:mb-4 font-bold;
        }

        p {
            @apply text-sm md:text-base;

            em {
                @apply text-sm md:text-base italic;
            }
        }

        ul {
            @apply list-disc text-sm md:text-base ml-8 mb-2 md:mb-3 lg:mb-4;
        }

        span {
            @apply text-sm md:text-base mb-2 md:mb-4;
        }

        a {
            @apply text-sm md:text-base;
        }
    }

    .blog, .content {
        p {
            @apply mb-2 md:mb-3 lg:mb-4;

            em {
                @apply mb-2 md:mb-4;
            }

            &:empty {
                @apply mb-0;

                &::before {
                    content: '\00a0';
                }
            }
        }

        span {
            @apply mb-2 md:mb-4;
        }
    }
}
