.form {
    @apply flex flex-col flex-grow gap-4;
}

.question {
    @apply flex flex-col;
}

.field {
    @apply rounded border w-full p-2 bg-transparent;
    @apply text-sm md:text-base;

    &:disabled {
        @apply text-grey-300 border-grey-100 cursor-not-allowed;
    }

    &.error {
        @apply text-red-900 border-red-900;
    }

    &:focus-visible {
        @apply outline-none;
    }
}

.submitButton {
    @apply px-4 py-2 w-full rounded-md shadow-lg border border-blue-900 bg-blue-900 cursor-pointer;
    @apply text-sm md:text-base text-white;

    &:disabled {
        @apply text-grey-300 bg-grey-50 border-grey-100 cursor-not-allowed;
    }
}
