#cookieConsent-wrapper {
  --focus: 0 0 0 2px #fff, 0 0 0 4px #000, 0 0 0 6px #fff;
  --boxShadow: -5px 5px 10px 0 #00000012, 0 0 50px 0 #0000001a;
  --fontFamily: helvetica neue, segoe ui, arial, sans-serif;
  --primaryColor: #121e68;
  --backgroundColor: #fff;
  --textColor: #4b494b;
  --backdropBackgroundColor: #0003;
  --backdropBackgroundBlur: 0;

  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Backdrop (Global) */
#cookieConsent-backdrop-global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  border: 0;
  display: none;
}

/* --------------------------------
  Links
-------------------------------- */
#cookieConsent-wrapper a {
  all: unset;
  display: inline-block;
  color: var(--primaryColor);
  text-decoration: underline;
}

#cookieConsent-wrapper a:hover {
  cursor: pointer;
  color: var(--textColor);
}

/* --------------------------------
  Focus Styles
-------------------------------- */
#cookieConsent-wrapper a:focus,
#cookieConsent-wrapper #cookieConsent-banner button:focus,
#cookieConsent-wrapper #cookieConsent-modal button:focus {
  outline: none;
  box-shadow: var(--focus);
  border-radius: 5px;
}

/* --------------------------------
  General Styles
-------------------------------- */

#cookieConsent-wrapper .st-button {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 5px;
}

#cookieConsent-wrapper .st-button--secondary {
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
}

#cookieConsent-wrapper .st-button--secondary:hover {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}

/* --------------------------------
  Banner
-------------------------------- */
#cookieConsent-banner {
  font-family: var(--fontFamily);
  color: var(--textColor);
  background-color: var(--backgroundColor);
  box-sizing: border-box;
  padding: 32px;
  border-radius: 5px;
  pointer-events: auto;
  border: 0;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 600px;
  overflow: auto;
  max-width: calc(100% - 32px);
  max-height: calc(100vh - 32px);
  transform: translate(0, -20px);
  opacity: 0;
  animation: cookieConsent-slideInDown 350ms ease-out forwards;
  animation-delay: 0.3s;
  box-shadow: -5px 5px 10px 0 #00000012, 0 0 50px 0 #0000001a;
}

#cookieConsent-banner:focus {
  border-radius: 50%;
}

#cookieConsent-banner.center {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  position: fixed;
  transform: translate(-50%, calc(-50% - 20px));
  animation: cookieConsent-slideInDown-center 350ms ease-out forwards;
}

#cookieConsent-banner.bottomLeft {
  bottom: 16px;
  left: 16px;
  position: fixed;
}

#cookieConsent-banner.bottomCenter {
  bottom: 16px;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -20px);
  animation: cookieConsent-slideInDown-bottomCenter 350ms ease-out forwards;
}

#cookieConsent-banner .preferences {
  display: flex;
  gap: 5px;
  border: none;
  padding: 15px 0;
  background-color: transparent;
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 16px;
}

#cookieConsent-banner .preferences span {
  display: block;
  white-space: nowrap;
  text-decoration: underline;
}

#cookieConsent-banner .preferences span:hover {
  color: var(--textColor);
}

#cookieConsent-banner .preferences::after {
  display: block;
  content: '>';
  text-decoration: none;
}

#cookieConsent-banner p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 15px;
}

#cookieConsent-banner a {
  display: inline-block;
  color: var(--primaryColor);
  text-decoration: underline;
  background-color: var(--backgroundColor);
}

#cookieConsent-banner a:hover {
  color: var(--textColor);
}

#cookieConsent-banner a.cookieConsent-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primaryColor); /* passed down to svg > path */
  margin-left: auto;
  width: 48px;
  height: 48px;
}

#cookieConsent-banner .actions {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 24px;
}

@media (min-width: 600px) {
  #cookieConsent-banner .actions {
    flex-direction: row;
    align-items: center;
  }
}

#cookieConsent-banner .actions-row {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

/* --------------------------------
  Modal
-------------------------------- */
#cookieConsent-modal {
  display: none;
  pointer-events: auto;
  overflow: auto;
  width: 800px;
  max-width: 100%;
  max-height: 100%;
  border: 0;
  transform: translate(0, -20px);
  opacity: 0;
  animation: cookieConsent-slideInUp-center 350ms ease-out forwards;
  box-shadow: -5px 5px 10px 0 #00000012, 0 0 50px 0 #0000001a;
  font-family: var(--fontFamily);
  color: var(--textColor);
  flex-direction: column;
  padding: 30px;
  background-color: var(--backgroundColor);
  border-radius: 5px;
  box-sizing: border-box;
}

/* --------------------------------
  Modal - Header
-------------------------------- */
#cookieConsent-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 16px;
}

#cookieConsent-modal h1 {
  font-family: var(--fontFamily);
  color: var(--textColor);
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

#cookieConsent-modal .modal-close {
  display: inline-flex;
  padding: 13px;
  border: 0;
  cursor: pointer;
  background: var(--backgroundColor);
  color: var(--primaryColor);
}

#cookieConsent-modal .modal-close svg {
  fill: var(--primaryColor);
}

/* --------------------------------
  Modal - Content
-------------------------------- */

#cookieConsent-modal section {
  flex: 1;
  margin-top: 32px;
}

#cookieConsent-modal section::-webkit-scrollbar {
  display: block; /* Force scrollbars to show */
  width: 5px; /* Width of the scrollbar */
}

#cookieConsent-modal section::-webkit-scrollbar-thumb {
  background-color: var(--textColor); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

#cookieConsent-modal p {
  font-size: 16px;
  line-height: 24px;
  color: var(--textColor);
  margin: 0 0 15px;
}

#cookieConsent-modal p:last-of-type {
  margin: 0;
}

#cookieConsent-modal fieldset {
  padding: 0;
  border: none;
  margin: 0 0 32px;
}

#cookieConsent-modal fieldset:last-of-type {
  margin: 0;
}

#cookieConsent-modal legend {
  padding: 0;
  margin: 0 0 10px;
  font-weight: 700;
  color: var(--textColor);
  font-size: 16px;
}

#cookieConsent-modal .cookie-type-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

/* --------------------------------
  Modal - Switches
-------------------------------- */
#cookieConsent-modal .switch {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  height: 34px;
  width: 74px;
  cursor: pointer;
}

#cookieConsent-modal .switch:focus-within {
  outline: none;
  box-shadow: var(--focus);
  border-radius: 25px;
}

#cookieConsent-modal .switch input {
  opacity: 0;
  position: absolute;
}

/* Unchecked Switch Styles */
#cookieConsent-modal .switch__pill {
  position: relative;
  display: block;
  height: 34px;
  width: 74px;
  background: var(--textColor);
  border-radius: 25px;
}

#cookieConsent-modal .switch__dot {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  height: 30px;
  width: 30px;
  background: var(--backgroundColor);
  border-radius: 50%;
  transition: left 150ms ease-out;
}

#cookieConsent-modal .switch__off,
#cookieConsent-modal .switch__on {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: var(--backgroundColor);
  position: absolute;
  top: 7px;
  right: 8px;
  transition: right 150ms ease-out, opacity 150ms ease-out;
}

#cookieConsent-modal .switch__off {
  opacity: 1;
}

#cookieConsent-modal .switch__on {
  opacity: 0;
}

/* Checked Switch Styles */
#cookieConsent-modal .switch input:checked + .switch__pill {
  background: var(--primaryColor);
}

#cookieConsent-modal .switch input:checked ~ .switch__dot {
  left: calc(100% - 32px);
}

#cookieConsent-modal .switch input:checked ~ .switch__off {
  right: calc(100% - 32px);
  opacity: 0;
}

#cookieConsent-modal .switch input:checked ~ .switch__on {
  right: calc(100% - 34px);
  opacity: 1;
}

/* Disabled Switch Styles */
#cookieConsent-modal .switch input:disabled + .switch__pill {
  opacity: 0.65;
  cursor: not-allowed;
}

/* --------------------------------
  Modal - Footer
-------------------------------- */
#cookieConsent-modal footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

@media (min-width: 600px) {
  #cookieConsent-modal footer {
    flex-direction: row;
    align-items: center;
  }
}

#cookieConsent-modal footer a {
  margin-left: auto;
  padding: 14px 0;
}

/* --------------------------------
  Backdrop
-------------------------------- */
#cookieConsent-backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdropBackgroundColor);
  backdrop-filter: blur(var(--backdropBackgroundBlur));
  pointer-events: all;
}

/* --------------------------------
  Animations
-------------------------------- */
@keyframes cookieConsent-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes cookieConsent-slideInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cookieConsent-slideInDown-center {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 20px));
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes cookieConsent-slideInDown-bottomCenter {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes cookieConsent-slideInUp-center {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
